*{margin: 0; padding: 0; text-decoration: none;list-style: none;box-sizing: border-box;}


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap');

/* pt-serif-regular - latin */
@font-face {
     font-family: 'PT Serif';
     font-style: normal;
     font-weight: 400;
     src: url('../fonts/pt-serif-v12-latin-regular.eot'); /* IE9 Compat Modes */
     src: local('PTSerif-Regular'),
          url('../fonts/pt-serif-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('../fonts/pt-serif-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
          url('../fonts/pt-serif-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
          url('../fonts/pt-serif-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
          url('../fonts/pt-serif-v12-latin-regular.svg#PTSerif') format('svg'); /* Legacy iOS */
   }
   /* pt-serif-700 - latin */
   @font-face {
     font-family: 'PT Serif';
     font-style: normal;
     font-weight: 700;
     src: url('../fonts/pt-serif-v12-latin-700.eot'); /* IE9 Compat Modes */
     src: local('PTSerif-Bold'),
          url('../fonts/pt-serif-v12-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('../fonts/pt-serif-v12-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
          url('../fonts/pt-serif-v12-latin-700.woff') format('woff'), /* Modern Browsers */
          url('../fonts/pt-serif-v12-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
          url('../fonts/pt-serif-v12-latin-700.svg#PTSerif') format('svg'); /* Legacy iOS */
   }

      html,
      body {
        position: relative;
        height: 100%;
        
      }



      body { 
          color: #191212;
          font-family: 'PT Serif','Noto Sans KR';
      }

      .swiper {
        width: 100%;
        height: 100%;
      }

      :root{--swiper-theme-color:#191212;}

      .swiper-slide {
        font-size: 18px;
        background: url('../images/main_back.png') no-repeat;
        background-position: center;

        /* Center slide text vertically */
        
      }

      .con_1{
           padding-top: 60px;
           padding-left: 130px;
           width: 90%;
           
      }
     

      .top_title h4{
          font-weight: 400;
          font-size: 24px;
      }

      .top_title h3{
           font-weight: 400;
           font-size: 60px;
      }
     
      header{
           display: flex;
      }

     .nav_wrapper{
          width: 60%;
          margin-left: 270px;
          
          }
      ul{
          display: flex;
          justify-content: space-between;
          font-size: 24px;
          font-weight: 700;
          padding-top: 40px;
          
          
     }

     ul li{cursor:pointer;}

      

     .title{
          margin-left: 520px;
          width: fit-content;
          padding-top: 200px;
          text-align: center;
     }

     .title h1{
          font-size: 90px;
          font-weight: 700;
     }

     .title h2{
          margin-top: 60px;
          font-weight: 400;
          font-size: 80px;
     }

     .main_pic{
          position: relative;
     }
     .main_pic_1{position: absolute;
          top: -180px;
          left: 450px;
     }
     .main_pic_2{position: absolute;
          top: -470px;
          right: 400px;
     }

     
      
       
     
/*-----------------------con_2 영역----------------------------*/

     .con_2{
          background: url('../images/sub_back.png') no-repeat;
          background-position: center;
          width: 100%;
          height: 100%;
          display: flex;
          padding: 0 120px;
          justify-content: space-between;
          position: relative;
     }

     .sub_top_title{
          margin-top: 60px;
          margin-left: 130px;
     }
     
     .sub_top_title h4{
          font-weight: 400;
          font-size: 24px;
     }

     .info_1{
     padding-top: 20px;}

     .info_1 h1{
          padding-bottom: 50px;
          font-size: 70px;
          
     }


     .info_1 p:first-of-type{
          font-weight: 500;
          font-size: 20px;
          padding-bottom: 30px;
          padding-top: 30px;
     }

     .info_2{
          padding-top: 40px;
     }

     .intro{
          padding-bottom: 40px;
     }

     .intro h2{
          font-size: 40px;
          padding-bottom: 20px;
     }

     .intro p{
          padding-bottom: 16px;
          font-family: 'Noto Sans KR';
     }

     .intro p:first-of-type{
          font-weight: 500;
          font-size: 18px;
     }

     .intro p:nth-of-type(3){
          font-weight: 500;
          font-size: 18px;
     }

     .intro p:nth-of-type(5){
          font-weight: 500;
          font-size: 18px;
     }



     .info_3{
          padding-top: 40px;
     }

     .info_3 h2{
          font-size: 40px;
          padding-bottom: 40px;
     }

     .tech_1 {
          padding-bottom: 40px;
     }

     .tech_1 img{
          padding-right: 9px;
     }

     .tech_info{
          width: 418px;
          display: flex;
          justify-content: space-between;
     }

     .tech_n{
          width: 59px;
          height: 50px;
          text-align: center;
     }
     .tech_n p{
          padding-top: 10px;
          padding-left: 4px;
     }


     .character{padding-bottom: 40px;}

     .underline{
          position: absolute;
          text-align: right;
          bottom: 120px;
          left: 10px;
          display: flex;
          width: 100%;
     }

     .ball{
          background: #515151;
          width: 18px;
          height: 18px;
          border-radius: 10px;
          position: absolute;
          left: 28px;
          bottom: -6px;
     }
     .line{
          width: 94%;
          border-bottom: 2px solid #515151;
          margin: 0 auto;
     }

     .line p{
          padding-right: 20px;
     }

     /*------------------------con_3 영역----------------------------*/

     .con_3{
          position: relative;
          background: url('../images/sub_back.png') no-repeat;
          background-position: center;
          width: 100%;
          height: 100%;
     }

     .pofol_1{
          display: flex;
          justify-content: space-between;
          width: 90%;
          margin: 0 auto;
     }
     .pofol_1>div{
          width: 500px;
          height: 300px;
     }

     .con_3_title{
          padding:20px 0;
          text-align: center;
     }

     .con_3_title h2{
          font-size: 50px;
     }


     .pofol_2{
          display: flex;
          justify-content: space-between;
          width: 90%;
          margin: 0 auto;
          margin-top: 40px;
     }

     .pofol_2>div{
          width: 500px;
          height: 300px;
     }

     .con_3 .underline{
          position: absolute;
          
     }

     /*------------------------con_4 영역----------------------------*/
     .con_4{
          position: relative;
          background: url('../images/sub_back.png') no-repeat;
          background-position: center;
          width: 100%;
          height: 100%;
     }

     .con_4 .underline{
          position: absolute;
          
     }

     .team{ display: flex;
          justify-content: space-between;
          width: 90%;
          margin: 0 auto;
     }

     .team>div{
          width: 500px;
          height: 300px;
          
     } 
     
     figure.website{ 
          width: 500px;
          height: 300px;
          color: #fff;
          position: relative;
          background: #585858;             
          text-align: left;
          overflow: hidden;
          border-radius: 10px;}


     figure.website img{
          width: 100%;
          max-width: 100%;
          opacity: 1;
          -webkit-transition: opacity 0.35s;
          transition: opacity 0.35s;
     }

     figure.website  figcaption {
          position: absolute;
          bottom: 0;
          left: 0;
          padding: 30px 3em;
          width: 100%;
          height: 100%;
        }



        figure.website figcaption::before {
          position: absolute;
          top: 30px;
          right: 30px;
          bottom: 30px;
          left: 100%;
          border-left: 4px solid rgba(255, 255, 255, 0.8);
          content: '';
          opacity: 0;
          background-color: rgba(255, 255, 255, 0.247);
          -webkit-transition: all 0.5s;
          transition: all 0.5s;
          -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
        }
        figure.website h2,figure.website p{
          font-family: 'Noto sana KR';
          margin: 0 0 5px;
          opacity: 0;
          -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
          transition: opacity 0.35s,-webkit-transform 0.35s,-moz-transform 0.35s,-o-transform 0.35s,transform 0.35s;
        }
        figure.website h2,figure.website p {
          word-spacing: -0.15em;
          font-weight: 400;
          text-transform: uppercase;
          -webkit-transform: translate3d(30%, 0%, 0);
          transform: translate3d(30%, 0%, 0);
          -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
        }
     
        
        figure.website a {
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          position: absolute;
          color: #ffffff;
        }
        figure.website:hover img {
          opacity: 0.3;
        }
        figure.website:hover figcaption h2,figure.website:hover figcaption p {
          opacity: 1;
          -webkit-transform: translate3d(0%, 0%, 0);
          transform: translate3d(0%, 0%, 0);
          -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
        }
        
        figure.website:hover figcaption::before {
          background: rgba(255, 255, 255, 0);
          left: 30px;
          opacity: 1;
          -webkit-transition-delay: 0s;
          transition-delay: 0s;
        }
        


     .team_info{
          display: flex;
          justify-content: space-between;
          width: 90%;
          margin: 0 auto;
          margin-top: 40px;
     }

     .CI{
          width: 500px;
          height: 300px;
          border: 1px solid;  
          text-align: center;
          
     }

     .CI h3{
          text-align: left;
          padding-left: 20px;
          padding-top: 20px;
          font-size: 26px;
     }

     .CI img{
          padding-top: 40px;
     }


     .team_txt{
          width: 1120px;
          height: 300px;
          border: 1px solid; 
          padding-left: 20px;
          padding-top: 20px;
     }

     .team_txt h3{
          font-size: 26px;
          padding-bottom: 20px;
     }

     .team_txt table{height: 70%;}

     .team_txt th{
          text-align: left;
          padding-right: 100px;
         
     }

     /*------------------------con_5 영역----------------------------*/

     .con_5{
          padding-top: 10px;
          position: relative;
          background: url('../images/sub_back.png') no-repeat;
          background-position: center;
          width: 100%;
          height: 100%;
     }


     .pro{
          display: flex;
          justify-content: space-between;
          width: 90%;
          margin: 0 auto;
          
     }

     .pro>div{
          width: 826px;
          height: 680px;
     }

     .con_5_title{
          text-align: center;
          padding-bottom: 10px;
     }

     .con_5_title h2{
          font-size: 50px;
     }


     .pro_1_wrapper{
          position: relative;    
          width: 294px;
          
     }

     .iphone_img{
          background: url('../images/iPhone\ X.png') no-repeat;
          background-size: 98%;
          width: 294px;
          height: 580px;
          position: absolute;
          left: 34%;   
          top: 8%;
          overflow: hidden;                                             
     }

     .img_wrapper{
          width:252px;
          height: 542px;
          position: absolute;
          top: 17px;
          left: 19px;
          border-radius: 27px;
          display: flex;
          animation:slide 8s infinite;
     }

     .img_wrapper>img{
          padding-right: 50px;
          
     }

     @keyframes slide {
          0% {margin-left:0;} /* 0 ~ 10  : 정지 */
          10% {margin-left:0;} /* 10 ~ 25 : 변이 */
          25% {margin-left:-301px;} /* 25 ~ 35 : 정지 */
          35% {margin-left:-301px;} /* 35 ~ 50 : 변이 */
          50% {margin-left:-601px;}
          60% {margin-left:-601px;}
          75% {margin-left:-902px;}
          85% {margin-left:-902px;}
          100% {margin-left:0;}
        }

        .cinfo_wrapper{
             display: flex;
        }

        .pofol_img{
             width: 35%;
             height: 163px;
             background: #191212;
             margin-top: 12px;
             margin-left: 30px;
             position: relative;           
             overflow: hidden;
        }


        .pofol_img p{
             position: absolute;
             right: 90px;
             color: #fff;
             top: 60px;
             opacity: 1;
     
        }

        .pofol_img img{
             width: 100%;
             max-width: 100%;
             opacity: 1;
             -webkit-transition: opacity;
             transition: opacity;
        }

        .pofol_img:hover img {
          opacity: 0.5;
        }



        .pro_2_wrapper{
             padding-top: 30px;
             border: 1px solid black;
        }

        .cinfo_wrapper>table{
          padding-left: 20px;
          font-size: 16px;
          border-collapse: separate;
          border-spacing: 0 10px;
        }

        .cinfo_wrapper>table th{
             padding-right: 30px;
             vertical-align:top;
             text-align: left;
        }

       


        .colors{
             display: flex;
             width: 90%;
             padding-top: 40px;
             padding-left: 30px;
             justify-content: space-around;
        }

        .colors h5{
             font-size: 16px;
        }




        .colors_chip{
             padding-left: 70px;
        }
        
        .colors_chip img{
             padding-right: 30px;
        }

        .simbol{
             padding-left: 50px;
        }



        .cafe_info>table{
          padding-left: 30px;
          font-size: 16px;
          border-collapse: separate;
          border-spacing: 0 30px;
        }

        .cafe_info>table th{
             padding-right: 30px;
             vertical-align:top;
             text-align: left;
        }



/*------------------------con_6 영역----------------------------*/


.con_6{
     padding-top: 10px;
     position: relative;
     background: url('../images/sub_back.png') no-repeat;
     background-position: center;
     width: 100%;
     height: 100%;
}





/*------------------------con_7 영역----------------------------*/

     
.con_7{
     padding-top: 40px;
     position: relative;
     background: url('../images/sub_back.png') no-repeat;
     background-position: center;
     width: 100%;
     height: 100%;
}
.con_7_title{padding-top: 60px;
     width: 80%;
     text-align: center;
     margin: 0 auto;}

.con_7_title h2{
     font-size: 40px;
}

.p_info{
     display: flex;
     justify-content: space-between;
     padding: 0 360px 0 400px;
     width: 80%;
     margin: 0 auto;
     margin-top: 100px;
}

.email_from{
     width: 530px;
     
}

.personal_info{
     display: flex;
     width: 499px;
     justify-content: space-between;
     padding-bottom: 30px;
}

.form{display: flex;
     flex-direction: column;}

label{padding-bottom: 20px;
font-size: 20px;}     
input{
     border: none;
     color: #585858;
     padding: 15px 0 15px 15px;
     width: 200px;
     font-family: 'Noto Sans KR';
     font-weight: 400;
}

.messages textarea{
     width: 500px;
     resize: none;
     border: none;
     color: #585858;
     font-family: 'Noto Sans KR';
     font-weight: 400;
     padding: 15px 0 0 15px;
}

#signUpButton{
     width: 200px;
     padding: 15px 0;
     border: 1px solid #585858;
     background: none;
     border-radius: 20px;
     cursor: pointer;
     margin-top: 20px;
}

#signUpButton:hover{
     background: #585858;
     color: #fff;
}



.tel p:first-of-type{
     padding-bottom: 20px;
}

.tel p:last-of-type{
     padding-bottom: 20px;
}



/*------------------------footer영역----------------------------*/

footer{
     position: absolute;
     bottom: 0;
     width: 100%;
     height: 40px;
     padding-top: 8px;
     background-color: #585858;
     color: #fff;
     display: flex;
     justify-content: space-around;
}

footer p{
     font-size: 16px;
}