*{
     margin: 0;padding: 0;list-style: none;text-decoration: none;box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');

body{font-family: 'Noto Sans KR', sans-serif;}


li{display: inline;
}


/*-------header 부분--------*/


header{
     background: #d1dcea;
     width: 100%;
     height: 100px;   
     position: fixed;
     z-index: 20;

     
}

.header_title{width: 208px;
     float: left;
     margin-left: 130px;
     padding-top: 18px;
     
}






nav{
width: 95%;
margin: 0 auto;
overflow: hidden;
position: relative;
}

.header_gnb{
     
     background: royalblue;
}

.header_gnb ul{
          text-align: right;

          width: 300px;
          height: 20px;
          float: right;

}

.header_gnb ul li{
     padding: 4px 20px;
}

.header_gnb ul li:last-child{
     padding-right: 0;
}

.header_gnb ul a{
     font-weight: 400;
     color: #232323;
}


.header_lnb ul{
     position: absolute;
          display: block;
          text-align: right;
          padding-top: 18px;
          top: 20px;
          right: 0;
}

.header_lnb ul li{
     padding: 4px 50px;
}


.header_lnb ul a{
     font-size: 18px;
     font-weight: 400;
     color: #232323;
     
     
}

/*--------carousel영역---------*/

.carousel{
     background: #eeeeee;
     display: flex;
     justify-content: space-around;
     height: 637px;
     padding-top: 180px;
     
}

.carousel_text h2{
     font-size: 40px;
     color: #1a1a1a;
}

.carousel_text h1{
     font-size: 50px;
     color: #171aac;
}

.carousel_text p{
     font-size: 20px;
     color: #1a1a1a;
     padding-top: 30px;
}

.carousel_text img{
     width: 28%;
     padding-top: 40px;
}

.carousel_img{
     position: relative;
     text-align: center;
}

.Figure_1{
     width: fit-content;
     height: fit-content;
     position: absolute;
     left: 120px;
     animation: rotate 10s linear infinite;
     transform-origin: 50% 50%;
}

@keyframes rotate{
     100%{transform: rotate(360deg);}
}

.Figure_1>img{
     width: 70%;
}


.Figure_2{
     width: fit-content;
     height: fit-content;
     position: absolute;
     bottom: 100px;
     right:130px;
     animation: rotate 10s linear infinite;
     transform-origin: 50% 50%;
}

.Figure_2>img{
     width: 70%;
}



.carousel_img>img{
     width: 70%;

}



/*--------Contents 영역---------*/

.con_1 {
     display: flex;
     width: 100%;
     height: 580px;
}

.con_1_text{
     width: 80%;
     background: #408cea;
     padding-left: 100px;
     display: flex;
     justify-content: space-around;
     padding-top: 150px;
     color: #fff;
     height: 580px;
}


.text_warpper_1{
     display: flex;
     justify-content: space-around;
     width: 100%;
}

.con_1_text h4{
     padding-bottom: 8px;
     font-weight: 400;
     font-size: 26px;
     border-bottom: 1px solid #fff;
}

.con_1_text p{
     padding-top: 30px;
     line-height: 35px;
}

/*--------Con_2 영역---------*/

.con_2{
     background: url('../images/main_pic_3.png') no-repeat;
     background-position: center;
     display:flex;
     justify-content: space-around;
     padding-top: 40px;
     padding-bottom: 30px;
}


.con_2_text{
     width: 30%;
     display:flex;
     justify-content: space-between;
     padding-top: 150px;
}

.text_warpper_2{
     display:flex;
     justify-content: space-between;
     width: 100%;
}


.con_2_text h4{
     padding-bottom: 8px;
     font-weight: 500;
     font-size: 26px;
     color: #ce3a3a;
}


.con_2_text p{
     padding-top: 30px;
     line-height: 30px;
     color: #1a1a1a;
}

/*--------Con_3 영역---------*/

.con_3{
     background: #eeeeee;
     display:flex;
     justify-content: space-around;
     padding-top: 140px;
     padding-bottom: 130px;
     padding-right: 194px;
     padding-left: 120px;
     
}

.con_3_img{
     position: relative;
}

.con_3_img img:first-child{
     position: absolute;
     top: -22px;
     left: -22px;
}

.con_3_img img:last-child{
     position: absolute;
     bottom: -28px;
     right: -28px;
}



.con_3_text h4{
     font-size: 36px;
     color: #171aac;
}

.dls{
     color: #aa2942;
}

.con_3_text p{
     padding-top: 55px;
     color: #1a1a1a;
     font-size: 20px;

}

.con_3_text img{
     width: 40%;
     padding-top: 40px;
}

/*--------Con_4 영역---------*/

.con_4{
     background: #c9dbfa;
     display: flex;
     justify-content: space-around;
     height: 600px;
     
}

.con_4_text{
     margin-left: 120px;
}

.con_4_text h4{
     font-size: 36px;
     padding-top: 60px;
     color: #5a5ca7;
}

.map_txt{
     padding-top: 40px;
     display: flex;
     justify-content: space-between;
     color: #1a1a1a;
     font-size: 20px;
}

.mt_1{
     font-weight: 700;
     padding-right: 40px;
}

.mt_1 p:nth-child(2){
    padding: 40px 0 40px 0;
}

.mt_2 p:nth-child(2){
     padding: 40px 0 40px 0;
 }


.con_4_img{
     width: 50%;
     background: #5a5ca7;
     margin-top: 60px;
     height: 500px;
}


/*--------footer 영역---------*/
footer{
     background: #fafff9;
     border-top: 1px solid lightgrey;
     display: flex;
     justify-content: space-around;
}

.footer_txt {
     padding: 40px 0 40px 0;

}

.footer_txt p:nth-child(2){
     padding: 22px 0 22px 0;
}

.sns{
     padding-top: 80px;
}

.sns a:nth-child(2){
     padding: 0 16px 0 16px;
}